# LINE Bot Settings
LINE_CHANNEL_SECRET=6d0c753f382a53ebc59417a38bf8a685
LINE_CHANNEL_ACCESS_TOKEN=QiiCwey6DX+8pqT2BuB2GQShqbMdCrKWU1USM8thqg6+xLHHjCtYINU5eIH6CAizrFd+zqnQPIYS31lvULVtHOSU6ItSZXGAsKnaVc3LE3zJrwOks/OeB57TD9jwwP7ZGHutebIWjY9VkOU497tmhwdB04t89/1O/w1cDnyilFU=
LINE_ADMIN_GROUP_ID=2009662646

# Google Gemini API Settings
GEMINI_API_KEY=AIzaSyBNsbv4WpR5LLN15VlHfNRk3nfPryndVv0

# Supabase Settings
SUPABASE_URL=https://qkzuqlsujotjhxjunmqg.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrenVxbHN1am90amh4anVubXFnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk1NTI3NCwiZXhwIjoyMDkwNTMxMjc0fQ.hZoKS6gU8LNjFdygsIgOBbZQk7mLErrgKSIUYUgRTW0

# Admin Settings
ADMIN_SECRET_KEY=AAbb123456
